<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js</title>
    <link rel="stylesheet" href="main.css" />
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">
      <p>初めてのVue.js</p>

      <ul>
        <li v-for="item in items">
          {{item}}
        </li>
      </ul>

      <form v-on:submit.prevent="addItem(input)">
        <input type="text" name="" v-model="input" />
        <button type="submit">追加</button>
      </form>
    </div>
    <script src="main.js"></script>
  </body>
</html>
